<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <ul>
            <!-- <li v-for="item in person">{{ item }}</li> -->
            <li v-for="(item, key,i) in person"> {{item}} --- {{key}}--{{i}}</li>
        </ul>
        <p v-for="item in 9"> {{item}}</p>
    </div>
<script src="./lib/vue-2.5.9.js"></script> 
<script>
    var vm = new Vue({
        el: '#app',
        data:{
            person: {
                id: 1,
                name: '哈哈',
                gender: '男'
            }
        }
    })
</script>
</body>
</html>