<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="./lib/vue-2.5.9.js"></script>
</head>
<body>
    <div id="app">
        <div>
            <label>Id:</label>
            <input type="text" v-model="id">
            <label>Name:</label>
            <input type="text" v-model="name">
            <input type="button" value="添加" class="btn btn-primary" @click.prevent="add">
            按品牌名称查询：<input type="text" @change="search">
        </div>
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Ctime</th>
                        <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in list">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.ctime }}</td>
                    <td><a href="" @click.prevent='del(item.id)'>删除</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            id: '',
            name: '',
            list: [
                {id: 1, name: '奔驰', ctime: new Date()},
                {id: 2, name: '奔本', ctime: new Date()},
                {id: 3, name: '宝马', ctime: new Date()},
                {id: 4, name: '马车', ctime: new Date()},
            ]
        },
        methods: {
            add() {//添加功能
                var info = {id: this.id, name: this.name, ctime: new Date()}
                this.list.push(info)
                this.id = this.name = ''
            },
            del(id) {//删除功能
                //拿到点击的商品的id在数据组找打对应的项，然后删除
                // console.log(id)
                // for(var i = 0; i < this.list.length; i++) {
                //     if(this.list[i].id == id) {
                //         this.list.splice(i, 1)
                //         break
                //     }
                // }


                //简单的方法
                const index = this.list.findIndex(function(item,i, arr) {
                    return item.id == id
                })
                //返回找到的index
                this.list.splice(index, 1)
            },
            search() {
                
            }
        }
    })
</script>
</html>